* {
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: "Gabarito", sans-serif;
z-index: 1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  position: sticky;
  top: 0;
  background-color:moccasin
  
}
.navbar_s1_title {
  color: #be32f5;
}
.icon {
  vertical-align: top;
}
.navbar_s2 {
  border: solid black 1px;
  padding: 10px;
  border-radius: 30px;
  width: 70%;
  display: flex;
  gap: 5px;
  align-items: center;
}
.navbar_s2_input {
  border-style: none;
  margin-left: 5px;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  color: black;


 
}
.navbar_s2_input::placeholder{
  color:black;
  
  
}
.navbar_s2_input:focus{
    outline: none;
}
.navbar_s3{
    display: flex;
    gap:10px;
    align-items: center;
}
.mylearning{
position: relative;
cursor: pointer;
}
.mylearning:hover .mylearning_popup{
  display: block;

}
.mylearning_popup{
position: absolute;
background-color: aliceblue;
border: solid black 1px; 
top: 150%;
right: 0;
padding: 20px;
width: 100px;
display: none;
}
.categories{
  display: flex;
  padding: 10px;
  border-bottom: solid black 1px;
  justify-content: space-around;
  
}
.categories p{
  background-color: #be32f5;
  border-radius: 30px;
  padding: 10px;
  color:aliceblue;

}
.section_image img{
width: 100%;
}
.section_image{
  position: relative;
}
.recommended{
  padding: 10px;
}
.recommended_container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;

}
.course_card{
  width: 300px;
}
.course_card img{
  height: 50%;
  width: 100%;
}
.topics{
  padding: 10px;
}
.topics_container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;

}
.topics_container p{
  padding: 10px;
  border: solid gray 2px;
  flex-grow: 1;
  flex-basis: 25%;
}
.popular{
  padding: 10px;

}
.popular_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.footer{

  padding: 30px;
  background-color: black;
  color: azure;
}
.footer_one{
  display: flex;
  background-color: black;
  color: azure;
  gap: 10px;
}
.footer_two{
  display: flex;
  justify-content: space-between; 

}
.footer_one p{
margin: 20px;

}
.sale_image{
  background-color: aliceblue;
  width: 40%;
  height: fit-content;
  position: absolute;
  top: 10%;
  border: solid black 1px;
  left: 5%;
  padding: 20px;

}
.sale_image p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

